body{
    background-color: #dbf5e6;
    font-family: 'Shadows Into Light', cursive;
}

.mainbubble {
    text-align: center;
    background-color: #A6F0C6;
    border-radius: 25px;
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background: #ffffff88;
}

.gif-container img {
    width: 100%;
    max-width: 250px; 
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    position: relative;
    width: 100%;
    border-radius: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

#no-button {
    transition: transform 0.15s ease;
}
button {
    font-family: 'Shadows Into Light', cursive;
    background-color: #FFF9F2;
    color: #166345;
    border: 3px solid #79d8a5;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    min-width: 120px;
}

/* Hover glow */
button:hover {
    background-color: #8EE7B7;
    transform: translateY(-3px);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.15);
}


button:active {
    transform: translateY(0);
    box-shadow: none;
}

@media (max-width: 480px) {
    button {
        font-size: 18px;
        padding: 8px 20px;
    }
    .mainbubble {
        padding: 15px;
    }
}


